<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" dir="ltr">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                منو <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                <li><a href="{% url 'about' %}">درباره من</a></li>
                <li><a href="{% url 'blog' %}">مقالات</a></li>
                <li><a href="{% url 'resume_list' %}">نمونه کارها</a></li>
                <li><a href="{% url 'combined_category_view' %}">دسته بندی</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">خروج</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">ورود</a></li>
                        <li><a href="{% url 'register' %}">ثبت نام</a></li>
                    {% endif %}

            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>